/*********************************************************************************/
/* Header : GNBBOX 
/*********************************************************************************/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #c0c0c0;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #c0c0c0;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #c0c0c0;
}

:-moz-placeholder { /* Firefox 18- */
	color: #c0c0c0;
}

.search_type1{
	height : 380px;
	background-color:#ffffff;
}

.btn-bus {
	color: #fff !important;
	background: #cf1118;
	padding: 2px 2px 2px 4px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 2px;
	margin: 0 6px 0 0px;
	border: 1px #b10e15 solid;
}

.btn-bus2 {
	color: #fff !important;
	background: #6282ea;
	padding: 2px 2px 2px 4px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 2px;
	margin: 0 6px 0 0px;
	border: 1px #3c59b8 solid;
}

.car-move1{
	color:#fff !important;
	background:#b10f15;
	padding:2px 2px 2px 4px;
	font-size:11px !important;
	font-weight:600;
	border-radius:2px;
	margin:0 6px 0 0px;
	border:1px #b10f15 solid;
}

.car-move2{
	color:#fff !important;
	background:#3d8419;
	padding:2px 2px 2px 4px;
	font-size:11px !important;
	font-weight:600;
	border-radius:2px;
	margin:0 6px 0 0px;
	border:1px #3d8419 solid;
}

.car-move3{
	color:#fff !important;
	background:#bb4fa4;
	padding:2px 2px 2px 4px;
	font-size:11px !important;
	font-weight:600;
	border-radius:2px;
	margin:0 6px 0 0px;
	border:1px #bb4fa4 solid;
}

.btn-subway {
	color: #fff !important;
	background: #005aaa;
	padding: 2px 2px 2px 4px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 2px;
	margin: 0 6px 0 0px;
	border: 1px #014077 solid;
}

.srtBus{
	color:#fff !important;
	background:#38a1ca;
	padding:2px 2px 2px 2px;
	font-size:11px !important;
	font-weight:600;
	border-radius:2px;
	margin:0 6px 0 0px;
	border:1px #38a1ca solid;
}

.subwayBot {
	color: #fff !important;
	background: #008ed4;
	padding: 3px 6px 3px 6px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 10px;
	margin: 0 3px 0 0;
}

.subway4 {
	color: #fff !important;
	background: #008ed4;
	padding: 3px 6px 3px 6px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 10px;
	margin: 0 3px 0 0;
}

.subway3 {
	color: #fff !important;
	background: #fe872e;
	padding: 3px 5px 3px 6px;
	font-size: 11px !important;
	font-weight: 600;
	border-radius: 15px;
	margin: 0 3px 0 0;
}

.tbl_type05,.tbl_type05 th,.tbl_type05 td {
	border: 0;
	font-size: 13px;
	text-align: left;
}

.tbl_type05 {
	width: 100%;
	border: 1px #e9eef6 solid;
}

.br {
	border: none;
	border-bottom: 1px #e9eef6 solid;
}

.tbl_type05 caption {
	display: none;
}

.tbl_type05 th {
	color: #7b7f83;
	padding: 10px 0 10px 16px;
	background: #f9fbfc;
	border-top: 1px #e9eef6 solid;
	border-right: 1px #e9eef6 solid;
}

.tbl_type05 th.txtd {
	text-align: center;
	padding: 0;
}

.tbl_type05 th.txtd2 {
	text-align: center;
	padding: 10px 0;
}

.tbl_type05 th.bdr {
	border-left: 1px #e9eef6 solid;
}

.tbl_type05 th.nobdr {
	border-right: none;
}

.tbl_type05 td.nobdr {
	border-right: none;
}

.tbl_type05 th.pl {
	padding-left: 26px;
}

.tbl_type05 td {
	color: #9c9d9e;
	padding: 8px 0 8px 10px;
	border-top: 1px #e9eef6 solid;
	border-right: 1px #e9eef6 solid;
}

.tbl_type05 td.txtd {
	text-align: center;
	padding: 0;
}

.tbl_type05 td.txtd2 {
	text-align: center;
	padding: 10px 0;
}

.tbl_type05 td.bdR {
	border-right: none;
}

.tbl_type05 td.ptpm {
	color: #9c9d9e;
	padding: 6px 0 6px 6px;
}

.tbl_type05 td.ptpm2 {
	color: #9c9d9e;
	padding: 6px 0 5px 6px;
}

.tbl_type05 td.ptpm3 {
	color: #9c9d9e;
	padding: 10px 0 10px 6px;
}

.tbl_type05 .icon {
	color: #ef3f3f;
	font-weight: 600;
	padding: 0 3px 0 8px;
}

.tbl_type05 .icon2 {
	color: #ef3f3f;
	font-weight: 600;
	padding: 0 3px 0 0;
	line-height: 28px;
}

.tbl_type05 .icheck2 {
	top: 1px;
	margin: 0 2px 0 30px;
	position: relative;
	vertical-align: middle;
}

.tbl_type05 .txt {
	color: #999;
	font-weight: 600;
	font-size: 12px;
}

.tbl_type05 .photo {
	width: 96px;
	height: 124px;
	padding: 7px;
	text-align: center;
	border: 1px #e9edf6 solid;
}

.tbl_type05 .photo p {
	width: 96px;
	height: 124px;
	background: #fafbfd
}

.tbl_type05 input {
	height: 18px;
	padding: 3px;
	color: #777;
	text-align: left;
	border: 1px #e0e9f0 solid;
}

.tbl_type05 select {
	padding: 3px;
	height: 26px;
	color: #727374;
	border: 1px #dfe8f1 solid;
}

.tbl_type05 .iradio {
	top: 1px;
	margin: 3px 3px 3px 5px;
	position: relative;
	vertical-align: middle;
}

.tbl_type05 label {
	top: 1px;
	font-size: 13px;
	margin: 0 5px 0 0;
	position: relative;
	vertical-align: middle;
}

/*********************************************************************************/
/* sub : 찾아오시는 길 */
/*********************************************************************************/
.traffic .tit {
	font-size: 12px;
	color: #323232;
	font-weight: 600;
}

.traffic .ctit {
	font-size: 12px;
	color: #8f9295;
}

.ctit {
	color: #8f9295;
}

.traffic .arrow {
	margin: 0 5px;
	font-size: 11px;
	font-weight: 600;
}

.lineh20 {
	line-height: 20px;
}

.lineh22 {
	line-height: 22px;
}

.lineh24 {
	line-height: 24px;
}

.lineh26 {
	line-height: 26px;
}

.locDiv{
	width: 100%;
	position:relative;
	z-index: 1;
}

.locUl{
	position: relative;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: table;
	width: 100%;
	table-layout: fixed;
}

.locLi{
	display: table-cell;
}

.locON{
	display: block; 
	padding: .7rem 0; 
	border: 1px solid #ddd; 
	font-size: .95rem; 
	text-align: center; 
	background: linear-gradient(to left, #076cc0, #6e63b3); 
	color: #fff;
	cursor: pointer;
}

.locOFF{
	display: block;
	padding: .7rem 0;
	color: #323232;
	border: 1px solid #ddd;
	font-size: .95rem;
	text-align: center;
	cursor: pointer;
}