.p_bold{margin:20px 0 0 10px; font-size: 15px; font-weight: bold;}
.td_col{background-color: #d3d3eb;}
.spans2{line-height: 1.6;}
.th_center{text-align: center;}
.tb_main{border-left:0px; border-right:0px; margin:10px 10px 0 10px; width:95%}
.td_p{padding:5px;}
.cap_bottom{caption-side:bottom; color:#dc5656; margin-top: 5px; margin-right: 180px;}
.td_center{text-align:center; padding:5px;}
.td_pad{padding:5px;}